.l-collection {
    margin-top: 40px;
    .c-colection_group {
        margin-top: 20px;
        text-align: center;
        position: relative;
        &__item {
            display: inline-block;
            margin: 0 25px;
            &:after {
                width: 40px;
                height: 31px;
                content: "";
                background: url("../image/chevron-right.png") no-repeat;
                position: absolute;
                top: 50%;
                margin: -12.5px 0 0 91px;
            }
        }
        &__item:last-child {
            &:after {
                height: 0;
                width: 0;
            }
        }
    }
    .c-quotation {
        margin-top: 20px;
        background-color: $color3;
        padding: 20px;
        color: #fff;
        display: flex;
    }
    .c-quotation__info {
        width: 410px;
        position: relative;
        &:before {
            position: absolute;
            width: 36px;
            height: 45px;
            content: "";
            background: url("../image/chevron-down.png") no-repeat;
            bottom: -53px;
        }
        &-item1 {
            padding: 2px 10px;
            font-size: 1.6rem;
            background-color: $color2;
            display: inline-block;
        }
        &-item2 {
            font-size: 1.2rem;
            margin: 10px 0;
            line-height: 2rem;
        }
        &-item3 {
            background-color: $color4;
            padding: 10px 20px;
            &__title {
                color: #dfb433;
                text-align: center;
                font-size: 1.5rem;
            }
            &__phone {
                font-size: 2.6rem;
                display: inline-block;
            }
            &__phs {
                font-size: 1.3rem;
                float: right;
                padding: 5px 20px 0 0;
                margin-left: -15px;
            }
            &__info {
                font-size: 1.2rem;
                span {
                    padding: 3px 4px 2px 4px;
                    background-color: $color2;
                    margin-left: 10px;
                }
            }
        }
    }
    .c-quotation__img {
        width: 220px;
        padding-left: 25px;
    }
    .c-quotation:last-child {
        .c-quotation__info {
            &:before {
                width: 0;
                height: 0;
            }
        }
    }
}