<div class="p-wrapper">
    <header class="l-header">
        <div class="l-container">
            <div class="c-logo">
                <a href="/index.html"><img src="/image/logo.png" alt=""></a>
            </div>
            <nav class="c-nav" id="nav">
                <ul class="c-nav__menu">
                    <li class="c-nav__menu-item"><a href="/index.html">ホーム <br> <span>Home</span></a></li>
                    <li class="c-nav__menu-item"><a href="/flow_of_purchase">買取・回収の流れ <br> <span>Flow of Purchase & Collect</span></a></li>
                    <li class="c-nav__menu-item"><a href="/price_list">価格表 <br> <span>Price List</span></a></li>
                    <li class="c-nav__menu-item"><a href="/fqa">よくある質問 <br> <span>FAQ</span></a></li>
                    <li class="c-nav__menu-item"><a href="/aboutus">会社概要 <br> <span>About Us</span></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- End Header -->