/*------------------------------------------------------------
							Header
------------------------------------------------------------*/

.l-header {
    @include clear;
    border-bottom: 2px solid #9f0000;
    padding: 20px 0;
    background: linear-gradient(#000 82%, #fff 150%);
    /* Standard syntax (must be last) */
    -webkit-background: linear-gradient(#000 82%, #fff 150%);
    /* Standard syntax (must be last) */
    -o-background: linear-gradient(#000 82%, #fff 150%);
    /* Standard syntax (must be last) */
    -moz-background: linear-gradient(#000 82%, #fff 150%);
    /* Standard syntax (must be last) */
}

.c-logo {
    float: left;
}

.c-nav {
    float: right;
    text-align: center;
    padding-top: 25px;
    .c-nav__menu-item {
        display: inline-block;
        border-right: 1px solid #444;
        padding: 0 10px;
        line-height: 1.5rem;
        text-align: right;
    }
    .c-nav__menu-item:last-child {
        border: none;
    }
    a {
        color: #fff;
        font-size: 1.8rem;
        font-weight: bold;
        span {
            font-size: 12px;
            color: #777;
            padding-right: 5px;
        }
    }
}